<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">


    <title>Document</title>
</head>
<body>
    
    <!-- Inicio de header-->
    
    <header>
        <img src="/images/logo-mercado-liebre.svg">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        
        <ul>
           
            <li> 
                <a href="#"> Ofertas </a> 
            </li>
           
            <li>
                <a href="#"> Tiendas Oficiales </a>
            </li>

            <li>
                <a href="#"> Vender </a>
            </li>

            <li>
                <a href="#">Ayuda </a>   
            
            </li>

        </ul>

        <ul>
            <li>
                <a href="#">Creá tu cuenta</a>  
            </li>
            
            <li>
                <a href="#">Ingresá</a>  
            </li>

            
            <li>                
                <a href="#">Mis compras </a>             
            </li>
           
        </ul>



    </header>
    <!-- Fin de header-->

    
    <!-- Inicio del main-->
    <main>
        <img src="/images/img-home-banner.jpg" width="100%">   
        <!-- Inicio del primer section-->
        <section>
        <h1> Basado en tu última visita </h1>
            <article> 
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <p>$6.770 </p> 
                <p>40% OFF</p>
                 <h2>Cafetera</h2>   
            </article>

            <article> 
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <p>$230.000 </p> 
                <p>20% OFF</p>
                <h2> MacBook Pro 2019</h2>   
            </article>

            <article> 
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <p>$70.500 </p> 
                <p>10% OFF</p>
                <h2>Samsung Galaxy S10</h2>   
            </article>

            <article> 
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <p>$23.200 </p> 
                <p>5% OFF</p>
                <h2>SmartTv Samsung 43"</h2>   
            </article>

        </section>


        <!-- Inicio del segundo section -->

        <section>

            <h1>Seccion de Ofertas</h1>

            <article> 
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <p>$6.770 </p> 
                <p>40% OFF</p>
                 <h2>Cafetera</h2>   
            </article>

            <article> 
                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <p>$230.000 </p> 
                <p>20% OFF</p>
                <h2> MacBook Pro 2019</h2>   
            </article>

            <article> 
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <p>$70.500 </p> 
                <p>10% OFF</p>
                <h2>Samsung Galaxy S10</h2>   
            </article>

            <article> 
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <p>$23.200 </p> 
                <p>5% OFF</p>
                <h2>SmartTv Samsung 43"</h2>   
            </article>

        </section>


    </main>

<footer>

     <!-- Seccion 1-->
    <section>
        <strong> Pagá con tarjeta o en efectivo </strong>
        <p> Con Mercado Liebre Cash, tenés cuot </p>
        <p>puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <!-- Seccion 2 -->
    <section>
        <p> <b> Envío gratis desde $ 2.500 </b> </p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de </p>
        <p>productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <!-- Seccion 3 -->
    <section>
        <p> <b> Seguridad, de principio a fin </b> </p>
        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, </p>
        <p> </p>porque estás siempre protegid@..</p>    
    </section>

</footer>

<b> Copyright © 1999-2020 MercadoLiebre S.R.L. </b>

</body>
</html>